
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<head>
    <link href="~/Content/Index.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>ZAPATUKI</h1>
    <div class="banner">
        <div class="slides">
            <div class="slide">
                <img src="@Url.Content("~/wwwroot/images/banner1.jpg")" alt="Imagen 1">
            </div>
            <div class="slide">
                <img src="@Url.Content("~/wwwroot/images/banner2.jpg")" alt="Imagen 2">
            </div>
            <div class="slide">
                <img src="@Url.Content("~/wwwroot/images/ganner 1.jpeg")" alt="Imagen 3">
            </div>
        </div>
    </div>
    <button>
        @Html.ActionLink("Categories", "Categories", "Home", new { area = "" }, new { @class = "nav-link" })
    </button>
    <p></p>
    <p></p>
    <div class="parent">
        <div class="card">
            <div class="logo">
                <span class="circle circle4"></span>
                <span class="circle circle5"></span>
            </div>
            <div class="glass"></div>
            <img src="~/wwwroot/images/zapas1.png" alt="Nombre Zapatilla" />
        </div>
    </div>
    <div class="parent">
        <div class="card">
            <div class="logo">
                <span class="circle circle4"></span>
                <span class="circle circle5"></span>
            </div>
            <div class="glass"></div>
            <img src="~/wwwroot/images/zapas1.png" alt="Nombre Zapatilla" />
        </div>
    </div>
    <div class="parent">
        <div class="card">
            <div class="logo">
                <span class="circle circle4"></span>
                <span class="circle circle5"></span>
            </div>
            <div class="glass"></div>
            <img src="~/wwwroot/images/zapas1.png" alt="Nombre Zapatilla" />
        </div>
    </div>
    <p></p>
    <p></p>
    <button>
        @Html.ActionLink("Offers", "Offers", "Home", new { area = "" }, new { @class = "nav-link" })
    </button>
    <p></p>
    <p></p>
    <div class="parent">
        <div class="card">
            <div class="logo">
                <span class="circle circle4"></span>
                <span class="circle circle5"></span>
            </div>
            <div class="glass"></div>
            <img src="~/wwwroot/images/zapas1.png" alt="Nombre Zapatilla" />
        </div>
    </div>
    <div class="parent">
        <div class="card">
            <div class="logo">
                <span class="circle circle4"></span>
                <span class="circle circle5"></span>

            </div>
            <div class="glass"></div>
            <img src="~/wwwroot/images/zapas1.png" alt="Nombre Zapatilla" />
        </div>
    </div>
    <div class="parent">
        <div class="card">
            <div class="logo">
                <span class="circle circle4"></span>
                <span class="circle circle5"></span>
            </div>
            <div class="glass"></div>
            <img src="~/wwwroot/images/zapas1.png" alt="Nombre Zapatilla" />
        </div>
    </div>
    <p></p>
    <p></p>
    <button>
        @Html.ActionLink("Suppliers", "Suppliers", "Home", new { area = "" }, new { @class = "nav-link" })
    </button>
    <p></p>
    <p></p>
    <div class="parent">
        <div class="card">
            <div class="logo">
                <span class="circle circle4"></span>
                <span class="circle circle5"></span>
            </div>
            <div class="glass"></div>
            <img src="~/wwwroot/images/zapas1.png" alt="Nombre Zapatilla" />
        </div>
    </div>
    <div class="parent">
        <div class="card">
            <div class="logo">
                <span class="circle circle4"></span>
                <span class="circle circle5"></span>
            </div>
            <div class="glass"></div>
            <img src="~/wwwroot/images/zapas1.png" alt="Nombre Zapatilla" />
        </div>
    </div>
    <div class="parent">
        <div class="card">
            <div class="logo">
                <span class="circle circle4"></span>
                <span class="circle circle5"></span>
            </div>
            <div class="glass"></div>
            <img src="~/wwwroot/images/zapas1.png" alt="Nombre Zapatilla" />
        </div>
    </div>
    <p></p>
    <p></p>

</body>

