@model ZapatukiFinal.Dtos.ViewModels.UserViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Login</h2>
<hr />
@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.User.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.User.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.User.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.User.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.User.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.User.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Login" class="button" />
        </div>
    </div>

    <button data-label="UserRegistration" class="rainbow-hover">
        @Html.ActionLink("Sign Up", "UserRegistration", "User", new { area = "" }, new { @class = "nav-link" })
    </button>
    <button data-label="ForgetPasword" class="rainbow-hover">
        @Html.ActionLink("Forget Password", "ForgetPassword", "Login", new { area = "" }, new { @class = "nav-link" })
    </button>
    <button data-label="BackToHome" class="rainbow-hover">
        @Html.ActionLink("Back to Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
    </button>
}

@if (!string.IsNullOrEmpty(Model.Response.message))
{
    <div class="alert alert-danger">
        @Model.Response.message
    </div>
}
